services:
  app:
    build:
      context: ..
      dockerfile: ./docker/node/Dockerfile
      secrets:
        - database_url
    restart: always
    command: sh -c "npm run start"
    ports:
      - '${PORT:-3003}:${PORT:-3003}'
    env_file:
      - ../.env
    environment:
      PORT: ${PORT:-3003}
      DATABASE_URL: ${DATABASE_URL_DOCKER}

secrets:
  database_url:
    environment: DATABASE_URL
